.about {
    position: relative;
    min-height: 90vh;
    width: 100%;
    padding: 0 4rem;
}

.about--container {
    max-width: 1240px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10rem;
    gap: 2rem;
}

.about--container p {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.about--container span {
    background: linear-gradient(to right, #00FFFF 0%, #d40071 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width:1000px) {
    .about {
        padding: 0 2rem;
    }

    .about--container {
        margin-top: 4rem;
        flex-direction: column;
    }

    .about--container p {
        font-size: 1.3rem;
    }
}

@media screen and (max-width:640px) {
    .about--container p {
        font-size: 1.1rem;
        text-align: center;
    }
}

@media screen and (max-width:360px) {
    .about {
        padding: 1rem;
    }
}