.about {
    position: relative;
    height: 100vh;
    padding: 0 6rem;
}

.about--container {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    gap: 2rem;
}

.about--container p {
    margin: 1rem 0;
    font-size: 1.3rem;
}

.about--container span {
    color: #00ffff;
}

@media screen and (max-width:1000px) {
    .about--container {
        flex-direction: column;
        margin-top: 4rem;
    }

    .about--container p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:640px) {
    .about--container {
        margin-top: 6rem;
    }

    .about--container p {
        font-size: 1rem;
        text-align: center;
    }
}

@media screen and (max-width:360px) {
    .about {
        padding: 1rem;
    }

    .about--container {
        flex-direction: column;
        margin-top: 4rem;
    }
}