.header {
  position: relative;
  top: 3.2rem;
}

.header h2 {
  font-family: "Abel", sans-serif;
  font-size: 6rem;
  text-decoration: underline;
  text-decoration-color: #00ffff;
  text-underline-offset: 0.5rem;
  background: linear-gradient(to right, #ffffff 0%, #00ffff 40%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header p {
  font-size: 1.8rem;
}

@media screen and (max-width: 1000px) {
  .header {
    top: 4rem;
  }

  .header h2 {
    font-size: 5rem;
  }

  .header p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 640px) {
  .header h2 {
    font-size: 4rem;
  }

  .header p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 360px) {
  .header {
    top: 1rem;
    left: 1rem;
  }

  .header h2 {
    font-size: 4rem;
  }

  .header p {
    font-size: 1.2rem;
  }
}
