.main {
    height: 100vh;
    width: 100%;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url('/src/assets/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main--content {
    background: linear-gradient(to right, #FFFFFF 0%, #00FFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main h3 {
    font-family: 'Abel', sans-serif;
    font-size: 4rem;
}

.main h1 {
    font-family: 'Abel', sans-serif;
    font-size: 10rem;
}

.main p {
    font-size: 2rem;
    margin: 10px 0;
}

.welcome--to {
    width: 500px;
    position: absolute;
    bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Abel', sans-serif;
    letter-spacing: 4px;
    font-size: 1.2rem;
    color: #00ffff;
}

.bounce {
    display: inline-block;
    position: relative;
    animation: bounce 0.5s infinite linear;
}

@keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: -0.2em;
    }

    70% {
        top: -0.3em;
    }

    100% {
        top: 0;
    }
}

.fixed--email {
    position: fixed;
    bottom: 11rem;
    right: 1.6rem;
    color: #00ffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.8rem;
    writing-mode: vertical-rl;
    z-index: 1000;
}

.divider--right {
    position: fixed;
    bottom: 0;
    right: 2rem;
    min-width: 2px;
    min-height: 10rem;
    background-color: #00FFFF;
    z-index: 1000;
}

.divider--left {
    position: fixed;
    bottom: 0;
    left: 2rem;
    min-width: 2px;
    min-height: 10rem;
    background-color: #00FFFF;
    z-index: 1000;
}

.fixed--icons {
    position: fixed;
    bottom: 10rem;
    left: 0.6rem;
    z-index: 1000;
}

.fixed--icons ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #333;
    border-radius: 50%;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    transition: .5s ease-in;
    margin: 15px 0;
}

.fixed--icons ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #00ffff;
    transition: .5s;
    transform: scale(0.9);
    z-index: -10;
}

.fixed--icons ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 10px #00ffff;
}

.fixed--icons ul li a:hover {
    color: #00ffff;
    box-shadow: 0 0 5px #00ffff;
    text-shadow: 0 0 5px #00ffff;
}

.text-focus-in {
    animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* TO TOP BUTTON  */

.top--icon {
    position: fixed;
    bottom: 1rem;
    right: 3rem;
    z-index: 1000;
    opacity: 0;
}

.top--icon ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #333;
    border-radius: 50%;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    transition: .5s ease-in;
}

.top--icon ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #00ffff;
    transition: .5s;
    transform: scale(0.9);
    z-index: -10;
}

.top--icon ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 10px #00ffff;
}

.top--icon ul li a:hover {
    color: #00ffff;
    box-shadow: 0 0 5px #00ffff;
    text-shadow: 0 0 5px #00ffff;
}

.astronaut--container {
    position: relative;
}

.astronaut {
    position: absolute;
    bottom: 1rem;
    left: 40rem;
    width: 350px;
    transform: scaleX(-1) rotate(8deg);
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@media screen and (max-width:1000px) {
    .fixed--email {
        display: none;
    }

    .divider--right {
        display: none;
    }

    .divider--left {
        display: none;
    }

    .fixed--icons {
        display: none;
    }

    .top--icon {
        bottom: 1rem;
        right: 1rem;
    }

    .astronaut--container {
        display: none;
    }
}

@media screen and (max-width:640px) {
    .main h3 {
        font-size: 3rem;
    }

    .main h1 {
        font-size: 6rem;
    }

    .main p {
        font-size: 1.5rem;
    }

    .welcome--to {
        width: 350px;
        letter-spacing: 2px;
        font-size: 1rem;
    }
}

@media screen and (max-width:360px) {
    .main {
        padding: 1rem;
    }

    .main h3 {
        font-size: 2rem;
    }

    .main h1 {
        font-size: 5rem;
    }

    .main p {
        font-size: 1.3rem;
    }

    .welcome--to {
        width: 300px;
        letter-spacing: 1px;
        font-size: 1rem;
    }
}