.navbar--container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    z-index: 1000;
}

.navbar--bg {
    background: rgba(0, 0, 0, .8);
    transition: 0.5s;
}

.navbar--container h3 {
    font-family: 'Abel', sans-serif;
    font-size: 2.5rem;
    color: #00ffff;
    background: linear-gradient(to right, #00FFFF 0%, #800080 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: focus-in-expand 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.nav--menu {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.nav--menu a {
    font-size: 1.2rem;
    color: #00ffff;
}

.nav--menu a:hover {
    color: #fff;
    transition: 0.5s ease-in;
}

.hamburger--menu {
    display: none;
}

.nav--menu a:nth-child(1) {
    animation: focus-in-expand 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.nav--menu a:nth-child(2) {
    animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.nav--menu a:nth-child(3) {
    animation: focus-in-expand 1.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.nav--menu a:nth-child(4) {
    animation: focus-in-expand 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.nav--menu a:nth-child(5) {
    animation: focus-in-expand 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@media screen and (max-width:1000px) {

    .hamburger--menu {
        display: block;
        cursor: pointer;
    }

    .nav--menu {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        z-index: -1;
        background: rgba(0, 0, 0, .9);
        transition: 0.5s ease-in-out;
    }

    .nav--menu.active {
        left: 0;
    }

    .nav--menu>a {
        font-size: 1.8rem;
        padding: 1rem;
    }
}